<appSettings>
	<add key="consumer_key" value="eDKb6IZVA6FNcHf1S85dxD9HW" />
	<add key="consumer_secret" value="VW9bhCqDjVpj8fqwvTaE7euYqRQ8lD1CTaQuZCq1vynxXz8HDa" />
	<add key="access_token" value="1057957225141026816-quOI7y6L1QIxGEoL6f3GRYkCb98THe" />
	<add key="access_token_secret" value="ml9aDYYlBUJL7BdjFfWh1IqCoSbmzajMr9focOLbU7GoW" />
	<add key="username" value="0d6d98f2-f81c-4a3e-912d-584642f92975" />
	<add key="password" value="71oUIUuyxZuR" />
	<add key="url" value="https://gateway.watsonplatform.net/natural-language-understanding/api" />

</appSettings>